<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eliminar Mascota</title>
</head>
<body>
    <form action=" "method="post">
        {% csrf_token %}
        <h1>¿Estas seguro de eliminar el objeto?{{mascota.nombre}}</h1>
        <button type="submit">Eliminar</button>
        <button><a href="{% url 'index'%}">Cancelar</a></button>
    </form>
</body>
</html>